<div class="heading">
  <ol class="breadcrumb">
    <li><a href="#/">Dashboard</a></li>
    <li><a href="javascript:void(0)">Admin Wallet</a></li>
  </ol>
</div>
<div class="heading">
	<h1>Add Admin Wallet</h1>
</div>
<div class="col-sm-12 well animated fadeIn">
  <ul class="nav nav-tabs pg_naves" role="tablist">
    <li role="presentation"  class="active">
    	<a id="addform" data-target="#add" aria-controls="addform" role="tab" data-toggle="tab">Admin Wallet Form</a>
    </li>
<!--     <li role="presentation"> -->
<!--     	<a id="viewform" data-target="#view" aria-controls="viewform" role="tab" data-toggle="tab">Admin Wallet Records</a> -->
<!--     </li> -->
  </ul>

  <div class="tab-content">
<!--     <div role="tabpanel" class="tab-pane " id="view"> -->
<!--     	<div ng-include="'./app/components/admin_wallet/data.html'"></div> -->
<!--     </div> -->
    <div role="tabpanel" class="tab-pane active" id="add">
    	<div ng-include="'./app/components/admin_wallet/form.html'"></div>
    </div>
  </div>  
</div>