<div id="profile_details">
	<div class="col-sm-12">
		<div class="heading text-center">
			<h1>My Profile</h1>
		</div>
	</div>
	<div ng-repeat="m in m" class="col-sm-12 well">
		<form name="memberform_profile" id="memberform_profile" method="post" action="" >
			<div class="col-sm-6">
				<div class="col-sm-4">
					<label>Name</label>
				</div>
				<div class="col-sm-8">
					<input ng-model="m.name" name="name" class="form-control" required>
				</div>
				<div class="clearfix"></div><br>
				<div class="col-sm-4">
					<label>Email</label>
				</div>
				<div class="col-sm-8">
					<input ng-model="m.email" name="email" class="form-control">
				</div><div class="clearfix"></div><br>
				<div class="col-sm-4">
					<label>Mobile</label>
				</div>
				<div class="col-sm-8">
					<input ng-model="m.mob" name="mob" class="form-control">
				</div>
				<div class="clearfix"></div><br>
				<div class="col-sm-4">
					<label>Address</label>
				</div>
				<div class="col-sm-8">
					<textarea ng-model="m.address" name="address" class="form-control"></textarea>
				</div>
				<div class="clearfix"></div><br>
				<div class="col-sm-4">
					<label>Gender</label>
				</div>
				<div class="col-sm-8" ng-if="m.usertype == 'admin'">
					<select name="gender" ng-model="m.gender" required
						class="form-control">
						<option value="">Select Gender</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
				</div>
				<div class="col-sm-8" ng-if="m.usertype == 'ms'">
					<select name="gender" ng-model="m.gender" required
						class="form-control">
						<option value="">Select Gender</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
				</div>
				<div class="col-sm-8" ng-if="m.usertype == 'rt'">
					<select name="gender" ng-model="m.gender" required
						class="form-control">
						<option value="">Select Gender</option>
						<option value="M">Male</option>
						<option value="F">Female</option>
					</select>
				</div>
				<div class="col-sm-8" ng-if="m.usertype == 'ds'">
					<select name="gender" ng-model="m.gender" required
						class="form-control">
						<option value="">Select Gender</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
				</div>
				<div class="clearfix"></div><br>
				<div ng-show="m.username">
					<div class="col-sm-4">
						<label>UserName</label>
					</div>
					<div class="col-sm-8">
						<input ng-model="m.username" class="form-control" readonly>
					</div>
				</div>
				<div class="clearfix"></div><br>
				<div ng-show="m.password">
					<div class="col-sm-4">
						<label>Password</label>
					</div>
					<div class="col-sm-8">
						<input ng-model="m.password" class="form-control" name="password">
					</div>
				</div>
				<div class="clearfix"></div><br>
			</div>
			<div class="col-sm-6">
				<div class="col-sm-4">
					<label>Adhar No</label>
				</div>
				<div class="col-sm-8" ng-if="m.usertype == 'ms' || m.usertype == 'ds'">
					<input ng-model="m.adh_no" name="adh_no" class="form-control" required>
				</div>
				<div class="col-sm-8" ng-if="m.usertype == 'rt'">
					<input ng-model="m.adno" name="adh_no" class="form-control" required>
				</div>
				<div class="clearfix"></div><br>
					<div class="col-sm-4">
					<label>Firm Name</label>
				</div>
				<div class="col-sm-8">
					<input ng-model="m.firmname" name="firmname" class="form-control" required>
				</div>
				<div class="clearfix"></div><br>
				<div class="col-sm-4">
					<label>Pan Number</label>
				</div>
				<div class="col-sm-8">
					<input ng-model="m.pn_no" name="pn_no" class="form-control">
				</div>
				<div class="clearfix"></div><br>
				
				<div class="col-sm-4">
					<label>State</label>
				</div>
				<div class="col-sm-8">
					<input ng-model="m.state" name="state" class="form-control">
				</div>
				<div class="clearfix"></div><br>
					<div class="col-sm-4">
					<label>City</label>
				</div>
				<div class="col-sm-8">
					<input ng-model="m.city" name="city" class="form-control">
				</div>
				<div class="clearfix"></div><br>
					<div class="col-sm-4">
					<label>Pincode</label>
				</div>
				<div class="col-sm-8">
					<input ng-model="m.pin" name="pin" class="form-control">
				</div>
				<div class="clearfix"></div><br>
				<div class="clearfix"></div><br>
				<div ng-if="m.rt_id">
					<div class="col-sm-4">
						<label>PSA ID</label>
					</div>
					<div class="col-sm-8">
						<input ng-model="m.psa_id" name="psa_id" class="form-control">
					</div>
					<div class="clearfix"></div><br>
					<div class="col-sm-4">
						<label>PSA Password</label>
					</div>
					<div class="col-sm-8">
						<input ng-model="m.psa_pass" name="psa_pass" class="form-control">
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-12">
				<button type="submit" id="saveprofiledetails" accesskey="s" ng-click="save_profile_details()" class="btn btn-info"
					ng-disabled="memberform_profile.$invalid">
					<b>Update Details</b>
				</button>
				<a class="btn btn-default" accesskey="c" ng-click="filter_profile_data()"><b>Clear</b></a>
				<img id="loadermas" src="./assets/images/loaders/1.gif" style="height:25px;display:none">
			</div>
			<input type="hidden" ng-model="m.ms_id" name="ms_id" ng-init="" ng-value="m.ms_id"/>
			<input type="hidden" ng-model="m.ds_id" name="ds_id" ng-init="" ng-value="m.ds_id"/>
			<input type="hidden" ng-model="m.rt_id" name="rt_id" ng-init="" ng-value="m.rt_id"/>
			<input type="hidden" ng-model="m.admin_id" name="admin_id" ng-init="" ng-value="m.admin_id"/>
			<input type="hidden" ng-model="m.usertype" name="usertype" ng-init="" ng-value="m.usertype"/>
		</form>
	</div>
</div>
<!--<div ng-repeat="t in mem_details">
{{t.ms_id}}
</div>-->