
 <div class="col-sm-12">
    <div class="table_horizontal">
		<div class="input-group custom_addon">
            <div class="input-group-addon"  style="box-shadow:none; -webkit-box-shadow:none;"><i class="fa fa-search"></i></div>
				<input type="text" ng-model="search_text" placeholder="Search here...">
			</div>
		</div>
		<div class="table-data">
			<table class="table table-hover">
				<thead>
					<tr class="active">
						<th >Name</th>
                        <th >Account type</th>
                        <th >Email</th>
                        <th >Firm Name</th>
                        <th >Gender</th>
                        <th >Member Type</th>
                        <th >Mobile</th>
                        <th >Pin</th>
                        <th >State</th>
                        <th >City</th>
                        <th >Address</th>
                        <th >Status</th>
						<th  style="width:85px">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="y in datamem | filter: search_text | itemsPerPage: 10" >
						<td >{{y.name}}</td>
						<td >{{y.acc_typ}}</td>
						<td >{{y.email}}</td>
						<td >{{y.firmname}}</td>
						<td >{{y.gender}}</td>
						<td >{{y.memtype}}</td>
						<td >{{y.mob}}</td>
						<td >{{y.pin}}</td>
						<td >{{y.state}}</td>
						<td >{{y.city}}</td>
						<td >{{y.address}}</td>
						
						<td ><div style="height:25px;width:25px;border-radius:50%;background:red" ng-if="y.status=='0'"></div><div style="height:25px;width:25px;border-radius:50%;background:green" ng-if="y.status=='1'"></div></td>
						<td >
						  <a href="javascript:void(0)" ng-click="update_call(y)" data-toggle="modal" data-target=".bs-example-modal-sm">
    						<span class="fa fa-pencil fa-2x"></span></a>
    						&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" ng-click="delete_data(y.mm_id)">
    						<span class="fa fa-trash"></span></a>               
						</td>
					</tr>
				</tbody>
			</table>
        </div>
<!--         <div class="col-sm-12"> -->
<!--             <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/pagination"></dir-pagination-controls> -->
<!--         </div> -->
   </div>